.headerContainer {
    width: 100vw;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../image/background.png') no-repeat center;
    background-size: cover;
    padding: 1rem; 
    position: relative;
}

.inputContainer {
    position: relative;
    width: 95%;
    max-width: 350px;
}

.inputContainer .input {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #E0E0E0CC;
    background-color: transparent;
    color: #E0E0E0CC;
    font-size: 13px;
    padding: 5px;
    outline: none;
    margin-top: 50px;
}

.searchButton {
    position: absolute;
    left: 210px;
    top: 65%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.searchIcon {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../image/icons/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.menuButton {
    position: absolute;
    top: 60%;
    right: 15px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.menuIcon {
    content: '';
    display: block;
    width: 100px;
    height: 25px;
    background-image: url('../image/icons/menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.centeredLogo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 90px;
    height: 90px;
}

.logoButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}